/*** generel ***/



* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

body {
    font-family: sans-serif;
    color: #3c3c3c;
}

/*** fonts ***/

h1 {
    padding: 30px 0 30px 0;
    font-weight: 600;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;

}

h2 {
    color: white;
    font-weight: 300;
    font-size: 1.1rem;
    letter-spacing: 0.09rem;
    text-transform: uppercase;

}

h3 {

    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
}

h4 {
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.04rem;
    line-height: 2rem;

}


.fag_container {
    text-align: center;
    margin: -4px 0 0 0;
    padding: 30px 0px 30px 0px;
    background-color: #69887F;

}


p {
    font-weight: 400;
    font-size: 1.rem;
    letter-spacing: 0.01rem;
    line-height: 1.4rem
}

#color {
    background-color: white;
    height: 600px;
    width: 100vw;
    left: 0;
    position: absolute;
    z-index: -1;
}

.fag {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.fag:hover {
    transform: scale(1.05)
}

.tekst_div {
    max-width: 500px;
    text-align: center;

}


#liste {
    width: 70vw;
    max-width: 1100px;
    padding: 30px 0 0 0;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

}

#linje {
    border-bottom: 1px solid black;
    margin: 60px 25vh 0px 25vh;

}

#linje-top {
    border-bottom: 1px solid black;
    margin: 60px 25vh 60px 25vh;

}




.fag_section {
    max-width: 1100px;
    margin: 0 auto;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
}

.forside_section {
    max-width: 1100px;

    margin: 0 auto;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
}

img {
    width: 100%;
}



#filter-overskrift {
    display: flex;
    margin: 50px 0 30px 0px;
    flex-direction: column;

}

#filter-menu {
    display: flex;
    margin: 50px 0 50px 0px;


}


.filter_nav {
    display: flex;
    overflow: scroll;
    padding: 0 20px 0 20px;
}



.filter_nav h3 {
    margin-right: 40px;
    cursor: pointer;
}

.ret {
    cursor: pointer;

}

.valgt {

    color: #69887F;
}



/***** header *******/

header {
    display: flex;
    justify-content: center;

    border-bottom: 1px solid black;



}

.logobillede {
    width: 270px;
    height: 95px;
    margin: 15px 0px 10px 0px;
    object-fit: cover;



}

#logo {
    margin: 0 0 0 0;

}


.topnav {
    overflow: hidden;
    padding: 40px 0px 40px 0px;
    margin: 0;

}



.topnav a {
    /*    float: right;*/
    display: inline-block;
    /*    color: #1d1d1d;*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    color: white;

}



#cta {
    background-color: #ef6b6b;
    border-radius: 90px;
    color: white;
    font-size: 15px;
    padding: 12px 50px 12px 50px;
    margin-left: 20px;

}

a {
    color: #1d1d1d;
    */
}


.topnav .icon {
    display: none;
    font-size: 28px;
}

.dropdown {
    display: inline-block;
    /*    float: right;*/
    /*    overflow: hidden;*/
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: #000000;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}



.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    color: #69887F;
}

.dropdown-content a:hover {
    background-color: #69887F;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {

    .topnav a,
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;

    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }

    .topnav a {
        float: left;
        color: #1d1d1d;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .active {
        color: #d8d8d8;


    }

    .topnav .icon {
        display: none;
    }

    .dropdown {
        display: block;
        float: left;
        overflow: hidden;
    }
}

/***** rejser *******/

.rejse_video {
    margin: 0 auto;
    width: 70vw;
    display: flex;
    padding-top: 50px;
    flex-wrap: wrap;

}

.item-2 {
    flex-basis: 200px;
    flex-grow: 1;
    margin: 20px;

}

.item {
    flex-basis: 600px;
    flex-grow: 3;
    margin: 20px;


}

video {
    width: 100%
}

iframe {
    width: 100%;

    object-fit: cover;

}

.rejse_section {
    max-width: 1000px;
    margin: 0 auto;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));
    grid-gap: 70px;
    padding-top: 60px;

}

#priser {
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1100px, 1fr));
    grid-gap: 40px;
    padding-top: 160px;
    padding-bottom: 400px;



}

.rejse_section p {
    padding: 20px 0 0 0;
}

.rejse_section h4 {
    padding: 20px 0 0 0;
}


.tekst_div_2 {
    max-width: 900px;
    padding: 0px 50px 0px 50px;
    text-align: center;
    margin-bottom: 250px
}

#hojskole h2 {
    color: black;
    font-weight: 500;
    font-size: 2.1rem;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    padding-bottom: 20px;

}

#priser_P {
    padding: 0px;
}
