/*** generel ***/


* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

body {
    font-family: sans-serif;
    color: #3c3c3c;
}

img {
    width: 100%;
    height: auto;
}

/*** fonts ***/

h1 {
    padding: 30px 0 30px 0;
    font-weight: 600;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;

}

h2 {
    color: #121212;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.09rem;
    text-transform: uppercase;

}

h3 {
    color: #5a5a5a;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
}

h4 {
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.04rem;
    line-height: 2rem;

}



p {
    font-weight: 400;
    font-size: 1.rem;
    letter-spacing: 0.01rem;
    line-height: 1.4rem
}


#button {
    background: #242424;
    color: #ffffff;
    padding: 10px 70px 10px 70px;
    font-weight: 300;
    font-size: 0.8rem;
    letter-spacing: 0.06rem;
    text-transform: uppercase;
    max-width: 300px;
    margin: 0;

}




/**** menu ***/

header {
    padding: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.logobillede {
    width: 130px;

    margin: 15px 0px 0px 0px;
    object-fit: cover;

}

a {
    margin: 20px;
    padding: 10px;
    text-decoration: none;
    font-size: 1rem;
    color: #4a4a4a;
}



.closebtn {
    display: none;
}

#brugermenu-none {
    display: none;
}

/**** shop ***/

#filter-menu {
    display: flex;
    margin: 50px 0 50px 0px;


}

.filter_nav h3 {
    cursor: pointer;
    padding: 15px 50px 15px 50px;
    border-left: 2px solid black;


}

.filter_nav h3:first-child {
    cursor: pointer;
    padding: 0px 0px 0px 0px;
    margin-left: -2px;
    border: none;


}

.filter_nav {
    display: flex;
    overflow: scroll;
    border: 2px solid black;
}

.fag_section {
    max-width: 1100px;
    margin: 0 auto;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;

}

.valgt {
    background: black;
    color: #ffffff;

}

#alle {
    display: none;

}

#filter-overskrift {
    display: flex;
    margin: 50px 0 30px 0px;
    flex-direction: column;

}

.fag_container {

    text-align: center;
    margin: -4px 0 0 0;
    padding: 30px 0px 30px 0px;



}

/*
    max-width: 2100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(25, 300px [col-start]);
    grid-gap: 40px;
    overflow: scroll;
*/








/****** sections *********/

.section_2_columns {
    max-width: 1000px;
    margin: 0 auto;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));
    grid-gap: 130px;
    padding-top: 60px;

}

.section_3_columns {
    max-width: 1000px;
    margin: 0 auto;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));
    grid-gap: 130px;
    padding-top: 60px;

}

.analog_column {
    max-width: 1200px;
    margin: 0 auto;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 3fr));
    grid-gap: 0px;
    padding-top: 60px;


}

.guide-grid {
    border: 1px solid black;
    padding: 50px;
    margin-left: -1px;

}




/****** singleview-fremkaldelse *********/

#linje {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 70px 0 0px 0;
    width: 70vw;


}



.col-75 {
    float: left;
    width: 100%;
    margin: 5px 0 25px 0;

}

.col-25 {
    float: left;
    width: 25%;
    margin: 5px 0 25px 0;
    margin-right: 300px;
}



input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #525252;
    resize: vertical;
    margin: 0;
    float: left;


}

.tekst {
    min-width: 80%;
    margin: 0;


}

.tekst h2 {
    margin-bottom: 25px;
}

.tekst h3 {
    margin: 25px 0 25px 0;
}


/****** section 2 font padding *********/

.tekst h2 {
    margin-bottom: 25px;
}

.tekst p {
    margin-bottom: 25px;
}


/************ midterlinje  ***************/

@media screen and (min-width: 1200px) {

    .midterlinje {
        position: relative;
    }


    .midterlinje::after {
        content: '';
        position: absolute;
        width: 1px;
        background-color: black;
        top: 53px;
        bottom: 100px;
        left: 50%;
        margin-left: -1px;
    }

}


@media screen and (max-width: 900px) {

    /* The sidepanel menu */
    .sidepanel {
        height: 100%;
        /* Specify a height */
        width: 0;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 0;
        left: 0;
        background-color: #111;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidepanel */
    }

    /* The sidepanel links */
    .sidepanel a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    /* When you mouse over the navigation links, change their color */
    .sidepanel a:hover {
        color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    /* Style the button that is used to open the sidepanel */
    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: white;
        color: #000000;
        padding: 10px 15px;
        border: none;
    }

    .openbtn:hover {
        background-color: #444;
    }

    #brugermenu-none {
        display: block;
    }

    nav {
        display: inline-block;
        flex-direction: row;
        justify-content: center;

    }

    #logo-none {
        display: none;
    }


}
