/*** generel ***/


* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

body {
    font-family: sans-serif;
    color: #3c3c3c;
}

img {
    width: 100%;
}

/*** fonts ***/

h1 {
    padding: 30px 0 30px 0;
    font-weight: 600;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;

}

h2 {
    color: white;
    font-weight: 300;
    font-size: 1.1rem;
    letter-spacing: 0.09rem;
    text-transform: uppercase;

}

h3 {

    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
}

h4 {
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.04rem;
    line-height: 2rem;

}



p {
    font-weight: 400;
    font-size: 1.rem;
    letter-spacing: 0.01rem;
    line-height: 1.4rem
}


/**** menu ***/

header {
    padding: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.logobillede {
    width: 130px;

    margin: 15px 0px 0px 0px;
    object-fit: cover;

}

a {
    margin: 20px;
    padding: 10px;
    text-decoration: none;
    font-size: 1rem;
    color: #4a4a4a;
}



.closebtn {
    display: none;
}

#brugermenu-none {
    display: none;
}

@media screen and (max-width: 900px) {

    /* The sidepanel menu */
    .sidepanel {
        height: 100%;
        /* Specify a height */
        width: 0;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 0;
        left: 0;
        background-color: #111;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidepanel */
    }

    /* The sidepanel links */
    .sidepanel a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    /* When you mouse over the navigation links, change their color */
    .sidepanel a:hover {
        color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    /* Style the button that is used to open the sidepanel */
    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: white;
        color: #000000;
        padding: 10px 15px;
        border: none;
    }

    .openbtn:hover {
        background-color: #444;
    }

    #brugermenu-none {
        display: block;
    }

    nav {
        display: inline-block;
        flex-direction: row;
        justify-content: center;

    }

    #logo-none {
        display: none;
    }


}
