/*** generel ***/


* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;

}

body {
    color: #3c3c3c;

}

main {
    max-width: 1800px;
    margin: 0 auto;
}



img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/*** fonts ***/

h1 {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    padding: 130px 0 0px 0;
    font-weight: 600;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;

}





h2 {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-weight: 600;
    font-size: 1.7rem;
    letter-spacing: 0.09rem;
    text-transform: uppercase;

}

h3 {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.04rem;
    line-height: 2rem;

}

h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.04rem;
    line-height: 2rem;

}



p {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    line-height: 1.8rem;
    color: #000000;
}



footer p {
    color: #000000;
    font-family: 'Raleway';
    font-size: 1rem;
}

footer .logobillede {
    margin: 0px;
}




#button {
    background: #242424;
    color: #ffffff;
    padding: 15px 70px 15px 70px;
    font-weight: 300;
    font-size: 0.8rem;
    letter-spacing: 0.06rem;
    text-transform: uppercase;
    max-width: 350px;
    margin: 0;
    cursor: pointer;
    text-align: center;
    border: none;

}

#button:hover {
    transform: scale(1.05)
}




/**** menu ***/

header {
    padding: 20px;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 2;
    border-bottom: 0.5px solid #00000014;

}


nav {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.logobillede {
    width: 100px;
    margin: 0px 0px 0px 0px;
    object-fit: cover;
    vertical-align: middle;

}

.kurv {
    width: 25px;
    margin: 5px 15px 0px 0px;
    object-fit: cover;
}

nav a {
    margin: 35px;
    padding: 10px 0px 5px 0px;
    /*    padding-bottom: 40px;*/
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: #000000;
}

.nav_valgt {
    border-bottom: 2px solid black;
}

nav a:hover {
    color: #a5a89b;

}

.link_a a {
    color: #747962;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.04rem;
    line-height: 2rem;
}


.closebtn {
    display: none;
}

#brugermenu-none {
    display: none;
}

#nav-none {
    display: none;
}



/**** shop ***/

#filter-menu {
    display: flex;
    margin: 50px 0px 50px 0px;
    justify-content: center;

}

.filter_nav h3 {
    cursor: pointer;
    padding: 15px 50px 15px 50px;
    border-left: 2px solid black;

}

.filter_nav h3:first-child {
    cursor: pointer;
    padding: 0px 0px 0px 0px;
    margin-left: -2px;
    border: none;
}

.filter_nav {
    display: flex;
    overflow: scroll;
    border: 2px solid black;

}

.fag_section {
    max-width: 1100px;
    margin: 0 auto;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;

}





/*
.fag_section {
    max-width: 2100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(25, 300px [col-start]);
    grid-gap: 40px;
    overflow: scroll;


}

.fag_section-2 {
    max-width: 2100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(25, 300px [col-start]);
    grid-gap: 40px;
    overflow: scroll;


}

.fag_section-3 {
    max-width: 2100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(25, 300px [col-start]);
    grid-gap: 40px;
    overflow: scroll;


}
*/


.valgt {
    background: black;
    color: #ffffff;

}

#alle {
    display: none;

}


#filter-overskrift {
    display: flex;
    padding: 30px;
    justify-content: center;
    text-align: center;


}

.fag_container {
    margin: -4px 0 0 0;
    padding: 15px 0px 30px 0px;
}



/****** sections *********/

.section_1_column {
    max-width: 1000px;
    margin: 0 auto;
    width: 70vw;
    padding-top: 60px;
    margin-bottom: 60px;
}

.section_2_columns {
    max-width: 400px;
    margin: 0 auto;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    grid-gap: 0px;
    padding-top: 60px;
    padding-bottom: 60px;


}

.section_3_columns {
    max-width: 1000px;
    margin: 0 auto;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));
    grid-gap: 130px;
    padding-top: 60px;
    margin-bottom: 60px;

}

.analog_column {
    max-width: 1200px;
    margin: 0 auto;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 3fr));
    grid-gap: 0px;
    padding-top: 0px;
    padding-bottom: 60px;
    margin-bottom: 60px;



}

.lab_column {
    max-width: 1000px;
    margin: 0 auto;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
    grid-gap: 30px;
    padding-bottom: 60px;
    margin-bottom: 60px;
}

.howto_column {
    max-width: 500px;
    margin: 0 auto;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 0px;
    padding-top: 60px;

    padding-bottom: 60px;

    margin-bottom: 60px;



}


/****** forside *********/

.section_4_columns {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 0px;
    align-items: center;
    justify-content: center;

}

.section_5_columns {
    max-width: 500px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
    grid-gap: 0px;
    align-items: center;

}

iframe {
    width: 100%;
}

.section_splash {
    width: 100%;
    /*    width: 100vw;*/
    height: 85vh;
    display: flex;
    align-items: center;
    text-align: center;
    background-size: cover;
    justify-content: center;
}

.tekst_mid {
    margin: 50px;


}

.tekst_film_forside {
    margin: 50px;

}

.tekst_film_forside #button {
    margin: 0px;
}

figcaption {
    display: none;
}


.tekst_forside {

    margin-bottom: 5px;
}

#img_cover {
    object-fit: cover;
}

.img {
    object-fit: cover;
    width: 100%;
}

.guide-grid {
    border: 1px solid black;
    padding: 60px 80px 30px 80px;
    margin-left: -1px;

}



.img_size {
    width: 50%;
    margin-bottom: 20px;
    margin: 0 auto;


}

.section_color {
    background-color: #EBEDE5;

}



/****** footer *********/

footer {
    background-color: #EBEDE5;
}



.section_footer_columns {
    max-width: 1400px;
    margin: 0 auto;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 50px;
    padding: 40px 0 60px 0;
}

.section_footer_columns h3 {
    text-transform: uppercase;
    padding-bottom: 20px;
    font-weight: 600;
}

.section_footer_columns p {
    line-height: 2.2rem;
}


.col-mail {
    float: left;
    width: 80%;
    margin: 5px 0 25px 0;

}



/**** SoMe footer ***/

#some_container {
    cursor: pointer;
    margin-top: 10px;
}

.some-face {
    background-image: url(imgs/facebook.svg);
    background-size: cover;
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}

.some-insta {
    background-image: url(imgs/instagram.svg);
    background-size: cover;
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}






/****** singleview-fremkaldelse *********/





#linje-section {
    display: flex;
    justify-content: center;
}

#linje {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 0px 0 0px 0;
    width: 70vw;
}


.col-75 {
    float: left;
    width: 100%;
    margin: 5px 0 25px 0;

}

.col-25 {
    float: left;
    width: 25%;
    margin: 5px 0 25px 0;
    margin-right: 300px;
}



input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #000000;
    resize: vertical;
    margin: 0;
    float: left;
}

.tekst {
    min-width: 80%;
    margin: 0;
    text-align: left;


}

.tekst h2 {
    margin-top: 75px;
    margin-bottom: 25px;
}

.tekst h3 {
    margin: 25px 0 25px 0;
}


/****** section 2 font padding *********/

.tekst h2 {
    margin-bottom: 25px;
}

.tekst p {
    margin-bottom: 25px;
}



/****** Burger menu i mobil *********/

@media screen and (max-width: 1199px) {

    .sidepanel {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }


    .sidepanel a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }


    .sidepanel a:hover {
        color: #f1f1f1;
    }


    .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }


    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: white;
        color: #000000;
        padding: 10px 15px;
        border: none;
    }

    .openbtn:hover {
        background-color: #444;
    }

    #brugermenu-none {
        display: inline-block;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    #logo-none {
        display: none;
    }

    .open {
        width: 100%;
    }

    .close {
        width: 0px;
    }

    #nav-none {
        display: block;
        margin: 0px;
    }




}

/********************* ipad *******************************/


/************ midterlinje  ***************/

@media screen and (min-width: 1200px) {

    .midterlinje {
        position: relative;
    }


    .midterlinje::after {
        content: '';
        position: absolute;
        width: 1px;
        background-color: black;
        top: 113px;
        bottom: 120px;
        left: 50%;
        margin-left: -1px;
    }


}

@media screen and (min-width: 600px) {

    /**** shop ***/
    .fag_section {
        max-width: 1100px;
        margin: 0 auto;
        width: 70vw;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 40px;

    }




    /**** forside ***/
    .howto_column {
        max-width: 1400px;
        margin: 0 auto;

        width: 60vw;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        grid-gap: 0px;
        padding-top: 60px;

        padding-bottom: 60px;

        margin-bottom: 60px;



    }

    /****** forside *********/

    .section_4_columns {
        /*    margin: 0 auto;*/
        /*    width: 100vw;*/
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(650px, 2fr));
        grid-gap: 0px;
        align-items: center;
        justify-content: center;
        /*    padding: 80px 0 80px 0*/
    }

    .section_5_columns {
        max-width: 1800px;
        */ margin: 0 auto;
        */ width: 100vw;
        */ display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 3fr));
        grid-gap: 0px;
    }

    iframe {
        width: 100%;
        height: 520px;
    }

    .section_splash {
        width: 100%;
        /*    width: 100vw;*/
        height: 85vh;
        display: flex;
        align-items: center;
        text-align: center;
        background-size: cover;
        justify-content: center;
    }

    .tekst_mid {
        max-width: 550px;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 50px;

    }

    .img-colunm {
        grid-column: span 2;
    }

    .section_2_columns {
        max-width: 1000px;
        margin: 0 auto;
        width: 70vw;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(420px, 2fr));
        grid-gap: 0px;
        padding-top: 60px;
        padding-bottom: 60px;


    }

    .analog_column {
        max-width: 1200px;
        margin: 0 auto;
        width: 70vw;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 3fr));
        grid-gap: 0px;
        padding-top: 0px;
        padding-bottom: 60px;
        margin-bottom: 60px;



    }

    .tekst h2 {
        margin-top: 0px;
        margin-bottom: 25px;
    }

    .tekst_film_forside {
        margin: 100px 0px 100px 150px;
        max-width: 300px;
    }







}






/********************* desktop *******************************/

@media screen and (min-width: 1200px) {

    /**** forside ***/
    .howto_column {
        max-width: 1200px;
        margin: 0 auto;
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 3fr));
        grid-gap: 0px;
        padding-top: 60px;

        padding-bottom: 60px;

        margin-bottom: 60px;



    }

    .img-colunm {
        grid-column: span 1;
    }

    #filter-overskrift {
        display: flex;
        padding: 30px;
        justify-content: center;
        text-align: center;


    }

    .analog_column {
        max-width: 1200px;
        margin: 0 auto;
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 3fr));
        grid-gap: 0px;
        padding-top: 0px;
        padding-bottom: 60px;
        margin-bottom: 60px;



    }

    .section_2_columns {
        max-width: 1000px;
        margin: 0 auto;
        width: 70vw;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));
        grid-gap: 100px;
        padding-top: 60px;
        padding-bottom: 60px;


    }

    .section_footer_columns {
        max-width: 1400px;
        margin: 0 auto;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 50px;
        padding: 40px 0 60px 0;
    }

    .tekst h2 {
        margin-top: 50px;
        margin-bottom: 25px;
    }



    .logobillede {
        width: 130px;
        margin: 10px 0px 22px 0px;
        object-fit: cover;
        vertical-align: middle;

    }



    .kurv {
        width: 25px;
        margin: 0px 0px -5px 0px;
        object-fit: cover;
    }

    .tekst_film_forside {
        margin: 0px 0px 0px 150px;
        max-width: 300px;
    }



}
