/*** generel ***/


* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

body {
    font-family: sans-serif;
    color: #3c3c3c;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/*** fonts ***/

h1 {
    color: #000000;
    padding: 130px 0 30px 0;
    font-weight: 600;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;

}

h2 {
    color: #000000;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.09rem;
    text-transform: uppercase;

}

h3 {
    color: #000000;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
}

h4 {
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.04rem;
    line-height: 2rem;

}



p {
    font-weight: 400;
    font-size: 1.rem;
    letter-spacing: 0.01rem;
    line-height: 1.6rem;
    color: #000000;
}

footer p {
    color: #3C3C3C;
}

footer .logobillede {
    margin: 0px;
}

#button {
    background: #242424;
    color: #ffffff;
    padding: 15px 70px 15px 70px;
    font-weight: 300;
    font-size: 0.8rem;
    letter-spacing: 0.06rem;
    text-transform: uppercase;
    max-width: 350px;
    margin: 0;
    cursor: pointer;

}

#button:hover {
    transform: scale(1.05)
}




/**** menu ***/

header {
    padding: 20px;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 2;
    border-bottom: 0.5px solid #00000014;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.logobillede {
    width: 130px;
    margin: 15px 0px 15px 0px;
    object-fit: cover;
    vertical-align: middle;

}

.kurv {
    width: 25px;
    margin: 0px 0px -5px 0px;
    object-fit: cover;
}

nav a {
    margin: 30px;
    padding: 10px;
    padding-bottom: 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: #000000;
}



.closebtn {
    display: none;
}

#brugermenu-none {
    display: none;
}

/**** shop ***/

#filter-menu {
    display: flex;
    margin: 50px 0 50px 0px;


}

.filter_nav h3 {
    cursor: pointer;
    padding: 15px 50px 15px 50px;
    border-left: 2px solid black;


}

.filter_nav h3:first-child {
    cursor: pointer;
    padding: 0px 0px 0px 0px;
    margin-left: -2px;
    border: none;


}

.filter_nav {
    display: flex;
    overflow: scroll;
    border: 2px solid black;
}

.fag_section {
    max-width: 1100px;
    margin: 0 auto;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;

}

.valgt {
    background: black;
    color: #ffffff;

}

#alle {
    display: none;

}


#filter-overskrift {
    display: flex;
    flex-direction: column;
    padding: 50px;

}

.fag_container {
    margin: -4px 0 0 0;
    padding: 30px 0px 30px 0px;



}

/*
    max-width: 2100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(25, 300px [col-start]);
    grid-gap: 40px;
    overflow: scroll;
*/








/****** sections *********/

.section_2_columns {
    max-width: 1000px;
    margin: 0 auto;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));
    grid-gap: 130px;
    padding-top: 60px;
    padding-bottom: 60px;


}

.section_3_columns {
    max-width: 1000px;
    margin: 0 auto;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));
    grid-gap: 130px;
    padding-top: 60px;
    margin-bottom: 60px;

}

.analog_column {
    max-width: 1200px;
    margin: 0 auto;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 3fr));
    grid-gap: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 60px;



}



.section_4_columns {
    max-width: 1800px;
    margin: 0 auto;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(650px, 2fr));
    grid-gap: 0px;

}

.lab_column {
    max-width: 1000px;
    margin: 0 auto;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
    grid-gap: 0px;


    padding-bottom: 60px;

    margin-bottom: 60px;



}

.howto_column {
    max-width: 1400px;
    margin: 0 auto;

    width: 90vw;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 3fr));
    grid-gap: 0px;
    padding-top: 60px;

    padding-bottom: 60px;

    margin-bottom: 60px;



}

.section_5_columns {
    max-width: 1800px;
    margin: 0 auto;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 3fr));
    grid-gap: 0px;
    padding-bottom: 60px;
    margin-bottom: 60px;

}

.tekst_forside {
    padding: 100px 150px 50px 150px;
    margin-bottom: 5px;
}

#img_cover {
    object-fit: cover;
}

.img {
    object-fit: cover;
    width: 100%;
}

.guide-grid {
    border: 1px solid black;
    padding: 60px 80px 30px 80px;
    margin-left: -1px;

}

.img_size {
    width: 50%;
    margin-bottom: 20px;

}

/*
figure {
    margin: 0;
    width: 100%
}
*/

.tekst_mid {
    max-width: 550px;
    margin: 0 auto;
    margin-top: 130px;



}

.tekst_film_forside {
    max-width: 350px;
    margin: 0 auto;
    margin-top: 130px;
}

figcaption {
    display: none;
}


/****** footer *********/

footer {
    background-color: #EBEDE5;
}

.section_footer_columns {
    max-width: 1400px;
    margin: 0 auto;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 50px;
    padding: 40px 0 60px 0;
}

.section_footer_columns h3 {
    text-transform: uppercase;
    padding-bottom: 20px;
    font-weight: 600;
}

.section_footer_columns p {
    line-height: 2.2rem;
}


.col-mail {
    float: left;
    width: 80%;
    margin: 5px 0 25px 0;

}


/****** singleview-fremkaldelse *********/

#linje {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 0px 0 0px 0;
    width: 70vw;


}




.col-75 {
    float: left;
    width: 100%;
    margin: 5px 0 25px 0;

}

.col-25 {
    float: left;
    width: 25%;
    margin: 5px 0 25px 0;
    margin-right: 300px;
}



input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #525252;
    resize: vertical;
    margin: 0;
    float: left;


}

.tekst {
    min-width: 80%;
    margin: 0;


}

.tekst h2 {
    margin-top: 75px;
    margin-bottom: 25px;
}

.tekst h3 {
    margin: 25px 0 25px 0;
}


/****** section 2 font padding *********/

.tekst h2 {
    margin-bottom: 25px;
}

.tekst p {
    margin-bottom: 25px;
}


/************ midterlinje  ***************/

@media screen and (min-width: 1200px) {

    .midterlinje {
        position: relative;
    }


    .midterlinje::after {
        content: '';
        position: absolute;
        width: 1px;
        background-color: black;
        top: 113px;
        bottom: 120px;
        left: 50%;
        margin-left: -1px;
    }


}





@media screen and (max-width: 900px) {

    .sidepanel {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }

    /* The sidepanel links */
    .sidepanel a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }

    /* When you mouse over the navigation links, change their color */
    .sidepanel a:hover {
        color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    /* Style the button that is used to open the sidepanel */
    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: white;
        color: #000000;
        padding: 10px 15px;
        border: none;
    }

    .openbtn:hover {
        background-color: #444;
    }

    #brugermenu-none {
        display: block;
    }

    nav {
        display: inline-block;
        flex-direction: row;
        justify-content: center;

    }

    #logo-none {
        display: none;
    }

    .open {
        width: 100%;
    }

    .close {
        width: 0px;
    }


}



.img_size {
    width: 50%;
    margin-bottom: 20px;


}

.section_color {
    background-color: #EBEDE5;

}

.section_splash {
    width: 100vw;
    height: 85vh;
    display: flex;
    align-items: center;
    text-align: center;
    background-size: cover;



}
